.O_ContentWrapper .O_Content {
  position: fixed;
  top: 160px;
  overflow: scroll;
  width: 1140px;
  height: 477px;
  /* background-color: green; */
  border: solid 1px black;
  box-sizing: border-box;
}

.block {
  width: 900px;
}

.block p {
  font-size: 22px;
  margin-bottom: 20px;
}
