.O_MenuBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 40px;
  border-bottom: 1px solid var(--gray);
  color: var(--black);
}

.O_MenuBar .left,
.O_MenuBar .right {
  display: flex;
}
