.O_SidebarFooter {
  width: 100%;
  flex: 0 0 70px;
  border-top: 1px solid var(--gray);



  /* position: fixed;
  bottom: 0px;
  left: 0px;

  width: 300px;
  height: 80px;
  border: solid 1px black;
  box-sizing: border-box; */
}
